@import "./f.mixins.scss";

.main-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .main-menu-component {
    margin-top: 80px;
    .component-title {
      font-weight: 400;
      display: flex;
      justify-content: center;
      font-size: 26px;
      margin-bottom: 20px;
    }
    .component-menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 50px;
      &__item-1 {
        @include background(1);
        &--1 {
          @include fontStyle-1;
        }
        &--2 {
          @include fontStyle-2;
        }
      }
      &__item-2 {
        @include background(2);
        &--1 {
          @include fontStyle-1;
        }
        &--2 {
          @include fontStyle-2;
        }
      }
      &__item-3 {
        @include background(3);
        &--1 {
          @include fontStyle-1;
        }
        &--2 {
          @include fontStyle-2;
        }
      }
      &__item-4 {
        @include background(4);
        &--1 {
          @include fontStyle-1;
        }
        &--2 {
          @include fontStyle-2;
        }
      }
      &__item-5 {
        @include background(5);
        &--1 {
          @include fontStyle-1;
        }
        &--2 {
          @include fontStyle-2;
        }
      }
      &__item-6 {
        @include background(6);
        &--1 {
          @include fontStyle-1;
        }
        &--2 {
          @include fontStyle-2;
        }
      }
    }
    .footer{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
  }
}
