.s-main-menu{
  width: 100%;
  margin-bottom: 50px;
  .card-title{
    margin: 30px 0px 0px 15px;
  }
  .card-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & > * {
      margin: 20px 0px 0 0;  
    }
  }
}