.banner-front {
  width: 100%;
  .banner-img {
    width: 100%;
  }
  .banner-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    .banner-title {
      margin: -30px 0 15px 0;
      font-weight: 300;
      font-size: 55px;
    }
    .banner-input {
      width: 420px;
      height: 60px;
      display: flex;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      padding-left: 20px;
      &__field {
        width: 70%;
        height: 50%;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 17px;
        font-weight: bold;
        color: grey;
        &::placeholder {
          font-weight: bold;
        }
      }
    }
  }
}