.section-single-kos{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 100px;
  &__description{
    width: 65%;
    text-align: left;
    display: flex;
    flex-direction: column;
    &--2{
      margin-top: 20px;
      color: grey;
      font-size: 19px;
    }
  }
}