.section-banner-single {
  margin: 0px 0 40px 0;
  position: relative;
  &__image {
    height: 200px;
    width: 800px;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    & img {
      border-radius: 30px;
      height: 100%;
    }
  }
  &__title {
    padding-left: 25px;
    position: absolute;
    bottom: 35px;
    font-size: 30px !important;
    left: 20px;
    color: white;
    font-weight: 700 !important;
  }
}
